@font-face {
    font-family: SourceSansPro;
    src: url('SourceSansPro-Regular.otf');
}
*{
    font-family: SourceSansPro;
    color: aliceblue;
}
body{
    background-image: url(ubuntu-body.jpg);
}
.avatar{
    display: block;
    float: right;
    margin-right: 1%;
    border: solid 5px darkred;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5);
}
.citation{
    
    text-align: center;
    font-size: 13px;
    font-style: italic;

}
h1{
    text-align: center;
}
h1, h2{
    color: cadetblue;
}
